<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>338952584208-161f120mtem79442886gchg14kovr6cb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.338952584208-161f120mtem79442886gchg14kovr6cb</string>
	<key>API_KEY</key>
	<string>AIzaSyDcpYWSTh4sAVa1YLyXfiYbWIBw4nbLG90</string>
	<key>GCM_SENDER_ID</key>
	<string>338952584208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moduleflutter.modueFlutterEx2</string>
	<key>PROJECT_ID</key>
	<string>flutterproject-1bb5a</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterproject-1bb5a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:338952584208:ios:74efe83a63cfcd16d35e95</string>
	<key>DATABASE_URL</key>
	<string>https://flutterproject-1bb5a.firebaseio.com</string>
</dict>
</plist>